.Normal{
    background-color: #aaaa99;
}

.Fire{
    background-color: #ff4422;
}

.Water{
    background-color: #3399ff;
}

.Electric{
    background-color: #ffcc33;
}

.Grass{
    background-color: #77cc55;
}

.Ice{
    background-color: #66ccff;
}

.Fighting{
    background-color: #bb5544;
}

.Poison{
    background-color: #aa5599;
}

.Ground{
    background-color: #ddbb55;
}

.Flying{
    background-color: #8899ff;
}

.Psychic{
    background-color: #ff5599;
}

.Bug{
    background-color: #aabb22;
}

.Rock{
    background-color: #bbaa66;
}

.Ghost{
    background-color: #6666bb;
}

.Dragon{
    background-color: #7766ee;
}

.Dark{
    background-color: #775544;
}

.Steel{
    background-color: #aaaabb;
}

.Fairy{
    background-color: #ee99ee;
}
